
.advantages-list--souvenirs br,
.advantages-list--food br {
  display: none;
}

.advantages__header h2 {
  margin-top: 37px;
  margin-bottom: 28px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__header p {
  padding: 0 26px;
  line-height: 26px;
  margin-bottom: 7px;
}

.advantages-banner {
  margin: 0;
}

.advantages-banner__text {
  background-color: #81b3d2;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.advantages-banner__text h3 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.advantages-banner__text p {
  margin: 0;
  padding: 0 20px;
  padding-top: 11px;
  padding-bottom: 36px;
}

.advantages-banner__text span::before,
.advantages-banner__text span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 9px;
  height: 1px;
  background-color: #ffffff;
}

.advantages-banner__text--index {
  padding-top: 75px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: top;
}

.advantages-banner img {
  display: block;
}

.advantages-list {
  text-align: left;
  padding-right: 40px;
  padding-left: 70px;
  padding-top: 35px;
  margin-bottom: 9px;
}

.advantages-list__item {
  position: relative;
  padding-bottom: 14px;

}

.advantages-list__item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.advantages-list__item p {
  line-height: 21px;
}

.advantages-list--living::before {
  content: "";
  position: absolute;
  left: -47px;
  top: -10px;
  width: 36px;
  height: 38px;
  background-size: 36px 38px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages-list--souvenirs::before {
  content: "";
  position: absolute;
  left: -48px;
  top: -10px;
  width: 36px;
  height: 38px;
  background-size: 36px 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.advantages-list--food::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -5px;
  width: 36px;
  height: 38px;
  background-size: 36px 38px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}

.advantages-text {
  background-color: #eeeeee;
  padding-top: 0;
  padding-bottom: 0;
}

.advantages-text__item {
  display: block;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-right: 19px;
  padding-left: 19px;
  margin-right: 15px;
  margin-left: 15px;
  color: #333333;
  border-bottom: 1px solid #eeeeee;
}

.advantages-text__item h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.advantages-text__item span::before,
.advantages-text__item span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 9px;
  height: 1px;
  background-color: #979797;
}

.advantages-text__item p {
  line-height: 21px;
}



@media (min-width: 768px) {

  .advantages-list--souvenirs br,
  .advantages-list--food br {
    display: inline;
  }


  .advantages__header {
    margin-top: 48px;
  }
  .advantages__header h2 {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 29px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__header p {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .advantages-banner {
    display: flex;

  }
  .advantages-banner__text {
    width: 256px;
    margin: 0;
    padding: 0;
  }

  .advantages-banner h3 {
    font-size: 21px;
    line-height: 26px;
    padding-top: 46px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages-banner p {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    line-height: 21px;
}

  .advantages-banner__text--index {
    background-image: none;
  }

  .advantages-list {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 39px;
    padding-right: 47px;
    padding-left: 47px;
  }

  .advantages-list__item {
    width: 33.3%;
    margin: 0;
    padding: 0;
  }

  .advantages-list__item h3 {
    text-align: center;
    font-size: 21px;
    padding-bottom: 7px;
  }

  .advantages-list__item p {
    text-align: center;
  }

  .advantages-list--living {
    order: 0;
    &::before {
      top: -100px;
      left: 50%;
      width: 75px;
      height: 72px;
      background-size: 75px 72px;
      transform: translateX(-50%);
    }
  }

  .advantages-list--food {
    margin: 0 100px;
    order: 1;
    &::before {
      top: -100px;
      left: 50%;
      width: 75px;
      height: 72px;
      background-size: 75px 72px;
      transform: translateX(-50%);
    }
  }

  .advantages-list--souvenirs {
    order: 2;
    & p {
      margin-left: -9px;
    }
    &::before {
      top: -100px;
      left: 50%;
      width: 60px;
      height: 72px;
      background-size: 60px 72px;
      transform: translateX(-50%);
    }
  }

  .advantages-banner--bridge {
    flex-direction: row-reverse;
  }

  .advantages-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


 .advantages-text__item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 26px;
    padding-left: 53px;
    padding-right: 53px;

  }

  .advantages-text__item p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .advantages-text__item {
    width: 33.3%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;
    padding-bottom: 30px;
    border-bottom: none;

    &--square h3 {
      padding-left: 23px;
      padding-right: 20px;
    }

    &--square p {
      margin-top: 20px;
      margin-left: -17px;
      padding-left: 65px;
      padding-right: 49px;
    }


    &--road h3 {
      margin-left: -3px;
      padding-left: 54px;
      padding-right: 51px;
    }


    &--road p {
      padding-left: 54px;
      padding-right: 54px;
    }

    &--tourists h3 {
      margin-left: 5px;
      padding-left: 52px;
      padding-right: 60px;
    }

    &--tourists p {
      padding-left: 42px;
      padding-right: 42px;
    }

  }

}

@media (min-width: 1200px) {

  .advantages-banner__text {
    width: 400px;
  }

  .advantages-banner__img {
    overflow: hidden;
    height: 256px;
    width: 800px;
  }

  .advantages-list {
    margin-bottom: 30px;
  }

  .advantages-list__item {
    width: 260px;
  }

  .advantages-banner h3 {
    width: 150px;
    padding-top: 52px;
    padding-left: 124px;
    padding-right: 124px;
  }

  .advantages-banner p {
    padding-left: 68px;
    padding-right: 68px;
  }

  .advantages-banner--bridge p {
    padding-left: 85px;
    padding-right: 85px;
  }
  .advantages-list__item {
    width: 33.3%;
    margin: 0;
    padding: 0;
  }

  .advantages-list--food {
    margin: 0 100px;
  }


/*Этаж 4*/
  .advantages-text__item {

    &--square h3 {
      padding-left: 96px;
      padding-right: 96px;
    }

    &--square p {
      padding-left: 52px;
      padding-right: 40px;
      padding-bottom: 20px;
    }


    &--road h3 {
      padding-left: 134px;
      padding-right: 130px;
    }

    &--road p {
      padding: 0 65px;
    }

    &--tourists h3 {
      padding-left: 130px;
      padding-right: 130px;
    }

    &--tourists p {
      padding-left: 67px;
      padding-right: 67px;
    }

  }
}

