
.advantages {
   width: 320px;
}



.advantages__header {
  font-size: 13px;
  height: 220px;
  background-color: white;
  background-position: bottom;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.advantages-banner__text {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #81b3d2;
}

.advantages-banner__text h3 {
  font-size: 13px;
  font-weight: bold;
}
.advantages-banner__text p {
  padding-left: 30px;
  padding-right: 30px;
}

.advantages-banner {
  padding-bottom: 0;
}


.advantages-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages-list__item {
  text-align: left;
  padding-left: 70px;
  padding-right: 40px;

}


.advantages-text {
  background-color: #eeeeee;
  padding-top: 0;
  padding-bottom: 0;

}

.advantages-text__item {
  background-color: #eeeeee;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid black;

}




/*
.advantages-text {

}
*/




/*
}

.advantages-banner {

}

.advantages-banner__img {

}

*/



