.contacts {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}


.contacts__field {
  text-align: left;
  margin-bottom: 23px;
  margin-left: 20px;
}

.contacts__label {
  padding-left: 22px;
  font-size: 14px;
  line-height: 26px;
}

.contacts__input {
  height: 58px;
  width: 258px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  border: none;
  background-color: #f2f2f2;

}

.contacts__input::placeholder {

  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .contacts {
    border-bottom: none;
    width: 100%;
  }

  .contacts__title {
    margin-top: 40px;
    margin-bottom: 22px;
  }

  .contacts__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .contacts__input--phone,
  .contacts__input--email {
    width: 648px;
    min-height: 58px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .contacts__title {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 65px;
  }

  .contacts__field {
    display: block;
    min-width: 408px;

  }

  .contacts__input {
    width: 320px;
  }

  .contacts__label {
    padding-left: 5px;
    padding-right: 10px;
  }

}
