.copyright {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.copyright b {
  padding-right: 12px;
  font-size: 14px;
  line-height: 26px;
}

.copyright a {
  width: 26px;
  height: 34px;
}

@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}
