.feeling {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}


.feeling__field {
  margin-bottom: 23px;
  margin-left: 20px;
}

.feeling__label {
  font-size: 14px;
  line-height: 26px;
  padding-left: 22px;
}



@media (min-width: 768px) {
  .feeling {
    border-bottom: none;
  }

  .feeling__title {
    margin: 0;
    padding-bottom: 75px;
    text-align: center;
  }

  .feeling__label {
    padding-left: 35px;
  }


  .feeling__field {
    margin-bottom: 50px;
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  .feeling__title {
    padding-left: 82px;
  }
}
