
.main-nav {
  position: relative;
  margin-bottom: 60px;
}

.main-nav__list  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  border-bottom: 1px solid black;
}

.main-nav__item, .main-nav__item a {
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
}

.main-nav__logo {
  position: absolute;
  bottom: -90px;
  left: 110px;
  z-index: 1;
}

.main-nav__toggle {
  display: none;
}
