.page-footer {
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }

  .page-footer__title,
  .page-footer__social-list,
  .page-footer__copyright {
    width: 33.3%;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    min-height: 120px;
    margin: 0 -20px;
  }
}
