

.page-footer {
  padding-top: 30px;
}

.page-footer__title b{

  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
}
.page-footer__copyright b{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
/*
.page-footer__copyright img{
  background: url("img/logo-htmlacademy.svg");
  width: 320px;
  height: 350px;
}
*/
