
.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px;
  margin-left: -42px;
}


.social-list__item {
  display: block;
  padding-left: 14px;
  padding-right: 4px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  margin-left: -12px;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social-list__link img {
  filter: invert(100%);
}
