
.social-list {
  display: flex;
  width: 156px;
  height: 48px;
  list-style: none;
  margin-top: 38px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0px;
  vertical-align: middle;
  background-color: #81b3d2;
  fill: #ffffff;
}
