body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  width: 320px;
  background-color:"#ffffff";
  margin: 0 auto;
  text-align: center;
}
